.new_subscription_controls{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new_subscription_control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new_subscription_control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new_subscription_actions{
    text-align: right;
}

.new_subscription_actions button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
    border: 1px solid rgb(52, 61, 241);
}


.danger{
    background-color: red !important; 
}

